:root {
    --primaria-slight:#e1e9ff;
    --branco-gelo:#f1f1f1;
    --azul-dark:#002244;
    --faded:#303030DD;
}
html {
    height: 100%; font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    margin: 0px;padding: 0px;
    background-color: white
}

.nav{
    z-index: 10;
    position: absolute;
    margin: 00px;padding: 10px;
    background-color: var(--branco-gelo); 
    width: -webkit-fill-available;
}

.modal{
    margin: 0px;padding: 10px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    text-align-last: center;
    background-color: var(--faded);
}

.modalImg{
    overflow:hidden;
    transition:height 0.3s ease-out;
    height: calc(100vh - 20px);
    border-radius: 2vw;
}

.thumb{
    height: 50vh;
}

section{
    display: flex;
}

.text{
    margin: 10px;
    padding: 5px;
    place-self: center;
}

.img{
    margin: 10px;
    padding: 5px;
}