:root {
    --primaria-slight:#e1e9ff;
    --branco-gelo:#f1f1f1;
    --azul-dark:#002244;
    --modalFog:#303030DD;
    --transparent:#0000;
}
html {
    height: 100%; font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    margin: 0px;padding: 0px;
    background-color: white
}

.hasGit{
    text-align: center;
    font-weight: 500;
    border-bottom: solid 1px #ffc014;
    padding-bottom: 10px;
}

.nav{
    z-index: 10;
    position: absolute;
    margin: 00px;padding: 10px;
    background-color: var(--branco-gelo); 
    width: -webkit-fill-available;
}

.modal{
    transition: background-color 0.20s ease;
    margin: 0px;padding: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    text-align-last: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--transparent);
}
.modal.visibility{
    background-color: var(--modalFog);
}


.modalImg{
    transition:height 0.25s ease-out;
    border-radius: 2vw;
    position: sticky;
    top: calc(50vh - calc(100vh - 20px));
    left: calc(50vw - calc(100vw - 20px));
    height: 0px;
}
.modalImg.visibility {
    height: calc(100vh - 20px);
}

.thumb{
    height: 50vh;
}

section{
    display: flex;
}

.text{
    margin: 10px;
    padding: 5px;
    place-self: center;
}

.img{
    margin: 10px;
    padding: 5px;
}

.JumpButton {
	box-shadow:inset 0px 1px 0px 0px #ff9224;
	background-color:#ff9224;
	border-radius:6px;
	border:1px solid #ffc014;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
}
.JumpButton:hover {
	background-color:#ffc014;
	box-shadow:inset 0px 1px 0px 0px #ff9224;
	border:1px solid #ff9224;
}
.JumpButton:active {
	position:relative;
	top:1px;
}

.justify{
    justify-content: space-around;
}
