:root {
    --primaria-slight:#e1e9ff;
    --branco-gelo:#f1f1f1;
    --azul-dark:#002244;
    --faded:#303030DD;
    --clear:#30303000;
}
html {
    height: 100%; font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    margin: 0px;padding: 0px;
    background-color: white
}

.nav{
    z-index: 10;
    position: absolute;
    margin: 00px;padding: 10px;
    background-color: var(--branco-gelo); 
    width: -webkit-fill-available;
}

.modal{
    transition: background-color 0.20s ease;
    margin: 0px;padding: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    text-align-last: center;
    background-color: var(--faded);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal.collapsed{
    background-color: var(--clear);
}


.modalImg{
    transition:height 0.25s ease-out;
    border-radius: 2vw;
    position: sticky;
    top: calc(50vh - calc(100vh - 20px));
    left: calc(50vw - calc(100vw - 20px));
    height: calc(100vh - 20px);
}
.modalImg.collapsed {
    height: 0px;
}

.thumb{
    height: 50vh;
}

section{
    display: flex;
}

.text{
    margin: 10px;
    padding: 5px;
    place-self: center;
}

.img{
    margin: 10px;
    padding: 5px;
}